@font-face {font-family: JetBrains-mono; src: url('JetBrainsMono-2.242/JetBrainsMono-Regular.woff2');}
@font-face {font-family: JetBrains-mono; font-weight: bold; src: url('JetBrainsMono-2.242/JetBrainsMono-Bold.woff2');}
@font-face {font-family: JetBrains-mono; font-style: italic; src: url('JetBrainsMono-2.242/JetBrainsMono-Italic.woff2');}

body{
    font-family: JetBrains-mono;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}

li{
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
